@tailwind base;
@tailwind components;
@tailwind utilities;

li,
li:hover {
  transition: all 300ms ease;
}

.container {
  max-width: 1220px;
}

.slider-items {
  transform: translate3d(-19.645%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #333;
  background-image: linear-gradient(90deg, #54ffbc, #b6a2fe);
}
.header {
  will-change: transform;
  transform: translate3d(0px, 4rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.button-green {
  transition: all 100ms ease;
  box-shadow: inset 0 -5px 0 0 #64bb91;
  background-color: #85fac1;
}
/* 
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0) !important;
} */

.service {
  display: flex !important;
}
.wrap {
  -webkit-flex-wrap: wrap;
}
.button-green:hover {
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 100ms ease;
  transform: translate3d(0px, 0.3rem, 0px);
  box-shadow: inset 0 0px 0 0 #64bb91;
}

.button {
  background-color: white;
  border: 2px solid black;
  box-shadow: inset 0 -4px 0 0 #b2b2b2;
}

@font-face {
  font-family: "CooperMdBTMedium";
  src: url("../font/CooperMdBTMedium.ttf");
}

.cooper-md {
  font-family: "CooperMdBTMedium", sans-serif;
  font-size: 3rem;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
